@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --btn-hover-color:rgba(102, 51, 153, 0.264);
    --btn-card:rgba(22, 190, 22, 0.688);
    --brn-ry:rgba(128, 128, 128, 0.411);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px 180px 20px 180px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.233);
}

.navbar .logo{
    font-size: 2rem;
    font-weight: 500;
    color: rgb(102, 51, 153);;
}

.navbar button{
    font-size: 1.2rem;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: white;
}

.navbar button:hover{
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.add-btn{
    display: flex;
    justify-content: center;
}

.add-btn button{
    background-color: #fff;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    border: none;
}

.add-btn button:hover{
    background-color: var(--btn-hover-color);
    cursor: pointer;
}


.cardContainer{
    justify-items: center;
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    background-color: rgba(102, 51, 153, 0.264);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.title-heading{
    font-size: 1.5rem;
}

.author-heading{
    font-style: italic;
}