@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

:root{
    --btn-hover-color:rgba(102, 51, 153, 0.266);
    --btn-card:#4caf4f3e;
    --btn-not-read:#bf3e3e3e;
}

.container{
    /* padding: 25px 180px 20px 180px; */
    /* width: 100%; */
    height: 100%;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 25px 180px 20px 180px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.233);
}

.navbar .logo{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(102, 51, 153);
}

.navbar button{
    font-size: 1.2rem;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: white;
}

.navbar button:hover{
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.add-btn{
    display: flex;
    justify-content: center;
}

.add-btn button{
    background-color: #fff;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    border: none;
}

.add-btn button:hover{
    background-color: var(--btn-hover-color);
    cursor: pointer;
}


.cardContainer{
    width: 100%;
    padding: 25px 180px 20px 180px;
    justify-items: center;
    display: grid;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: rgba(204, 199, 199, 0.11);
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 0px 10px rgba(102, 51, 153, 0.266); /* Horizontal and vertical offset, blur radius, and color */
}

.title-heading{
    font-weight: 500;
    font-size: 1.5rem;
}

.author-heading{
    /* margin-top: 30px; */
    font-style: italic;
}


.read-btn{
    width:100%;
    padding: 10px 5px 10px 5px;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;

}

.remove-btn{
    width:100%;
    padding: 10px 5px 10px 5px;
    border: none;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: var(--btn-hover-color);
}


.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-container {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px 50px 20px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 200px;
    background-color: #4CAF50;
    cursor: pointer;
    color: white;
}

label {
    font-size: 1.2rem;
    width: 300px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
    font-size: 1.2rem;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit button styling */
input[type="submit"] {
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the "Read Status" checkbox label */
label[for="readStatus"] {
    display: inline-block;
    margin-right: 10px;
}

/* Adjust the appearance of the checkbox itself */
input[type="checkbox"] {
    width: auto;
    margin: 0;
}

#popupForm input[type="checkbox"] {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
    background-color: #007BFF; /* Background color */
    border: 1px solid #007BFF; /* Border color */
    border-radius: 3px; /* Rounded corners */
}

/* Style the checkbox when checked */
#popupForm input[type="checkbox"]:checked {
    background-color: #4CAF50; 
    border: 1px solid #4CAF50;
}